<div data-role="view" id="location-mode-view" data-id="location-mode-view" data-layout="drawer-layout" data-title="Location">
    <div id="xValue">X:123</div>
    <div id="yValue">Y:123</div>
    <br/>
    <input id="datetimepicker" type="date" style="width:150px;" />
    <br/>
    <input id="datetimepicker" type="time" style="width:150px;" />
    <label>Select mode
        <select class="modes">
            <option value="Reminder">Reminder</option>
            <option value="Challenge">Challenge</option>
            <option value="Spy">Spy</option>
            <option value="Fourth Option">Fourth Option</option>
        </select>
    </label>
</div>