.km-drawer-button:before, .km-drawer-button:after 
{ 
	content: "\E077"; 
}

.block {
	display: block;
}

.button-right {
	display: inline-block;
	vertical-align: top;
	float: right;
}

.inline {
	display: inline-block;
}